<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>####</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
      <a href="/">
        <h1><img src="https://cdn.glitch.global/86e5ca30-3d00-49a0-abb0-ff457d6391e7/oneweb-logo.png?v=1730726501633" alt="OneWeb-portal"></h1>
      </a>
    </header>
    <nav class="sidebar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="/grafana">Grafana</a></li>
          <li><a href="/incidents">Incidents</a></li>
          <li><a href="/spectralnet">Spectralnet error</a></li>
          <li><a href="/buc">BUC error</a></li>
          <li><a href="/network">Network outage</a></li>
          <li><a href="/anomalies">Ticket / Anomaly handling</a></li>
          <li><a href="/procedures">Procedures</a></li>
      </ul>
    </nav>

    <main>
        <h2>Welcome to the #### portal</h2>
        <p>This portal exists to assist the """" operators in their daily tasks related to ####.</p>
        <p>From this portal you can access and find the following features:</p>
    </main>

    <body>
      <div class="box">
  <div><b>Information:</b>
    <br>Messages from SM</br>
      </div>
  <div><b>Grafana:</b>
    <br>Instructions - pass checking</br>
      </div>
  <div><b>Incidents:</b>
  <br>Ongoing incidents</br>
  </div>
  <div><b>Spectralnet:</b>
  <br>Reboot instructions</br>
    </div>
  <div><b>BUC-error:</b>
  <br>Links and restart</br>
    </div>
  <div><b>Network:</b>
  <br>Gateway and TT&C</br>
    </div>
  <div><b>Anomalies:</b>
  <br>Known anomalies</br>
    </div>
  <div><b>Procedures:</b>
  <br>Relevant procedures</br>
    </div>
</div>
    </body>
    
    
    <footer>
        <p>&copy; 2024 - #### Portal</p>
    </footer>
    <script src="/js/script.js"></script>
</body>