<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONEWEB PORTAL: HOME</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
    <header>
      <a href="/">
        <img src="https://cdn.glitch.global/86e5ca30-3d00-49a0-abb0-ff457d6391e7/oneweb-logo.png?v=1730726501633" alt="OneWeb-portal">
      </a>
      <h1><i class="fas fa-home"></i> ONEWEB PORTAL: HOME</h1>
  </header>
 
      <nav class="sidebar">
          <div class="sidebar-text">
              <p><i class="fas fa-bars"></i> Main menu</p>
          </div>
          <ul>
              <li class="first-item"><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li>
              <li><a href="/info"><i class="fas fa-info-circle"></i><span>Info</span></a></li>
              <li><a href="/grafana"><i class="fas fa-chart-line"></i><span>Grafana</span></a></li>
              <li><a href="/incidents"><i class="fas fa-exclamation-triangle"></i><span>Incidents</span></a></li>
              <li><a href="/spectralnet"><i class="fas fa-network-wired"></i><span>Spectralnet error</span></a></li>
              <li><a href="/buc"><i class="fas fa-bug"></i><span>BUC error</span></a></li>
              <li><a href="/network"><i class="fas fa-wifi"></i><span>Network outage</span></a></li>
              <li><a href="/anomalies"><i class="fas fa-ticket-alt"></i><span>Ticket / Anomaly handling</span></a></li>
              <li><a href="/procedures"><i class="fas fa-book"></i><span>Procedures</span></a></li>
              <li><a href="/form"><i class="fas fa-chalkboard-teacher"></i><span>Service Manager</span></a></li>
          </ul>
      </nav>
   <div class="content-wrapper">
    <main>
        <h2><i class="fas fa-home"></i> Welcome to the OneWeb portal</h2>
        This portal exists to assist the """" operators in their daily tasks related to OneWeb.
        <br>From this portal you can access and find the following features:
    </main>
     
<div class="box">
   <div>
       <a href="/info"><i class="fas fa-info-circle"></i>
       <b>Information:</b>
         Messages from SM</a>
   </div>
   <div>
       <a href="/grafana"><i class="fas fa-chart-line"></i>
       <b>Grafana:</b>
         Instructions <br>- pass check</a>
   </div>
   <div>
       <a href="/incidents"><i class="fas fa-exclamation-triangle"></i>
       <b>Incidents:</b>
         Ongoing incidents</a>
   </div>
   <div>
       <a href="/spectralnet"><i class="fas fa-network-wired"></i>
       <b>SpectralNet:</b>
         Reboot instructions</a>
   </div>
   <div>
       <a href="/buc"><i class="fas fa-bug"></i>
       <b>BUC-error:</b>
         Links and restart</a>
   </div>
   <div>
       <a href="/network"><i class="fas fa-wifi"></i>
       <b>Network:</b>
         Gateway and TT&C</a>
   </div>
   <div>
       <a href="/anomalies"><i class="fas fa-ticket-alt"></i>
       <b>Anomalies:</b>
         Known anomalies</a>
   </div>
   <div>
       <a href="/procedures"><i class="fas fa-book"></i>
       <b>Procedures:</b>
         Relevant procedures</a>
   </div>
     <div>
       <a href="/form"><i class="fas fa-chalkboard-teacher"></i>
       <b>Service Manager:</b>
         Information board
         </a>
   </div>
  </div>
</div>
  <body>
    <footer>
        <p>&copy; 2024 - OneWeb Portal</p>
      </footer>
    </body>
  </html>
