<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#### - Info</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>#### Portalen</h1>
    </header>
    <nav class="sidebar">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/info">Info</a></li>
          <li><a href="/grafana">Grafana</a></li>
          <li><a href="/incidents">Incidents</a></li>
          <li><a href="/spectralnet">Spectralnet error</a></li>
          <li><a href="/buc">BUC error</a></li>
          <li><a href="/network">Network outage</a></li>
          <li><a href="/anomalies">Ticket / Anomaly handling</a></li>
          <li><a href="/procedures">Procedures</a></li>
      </ul>
    </nav>
    </nav>
    <main>
        <h2>Information concerning #### will be posted here:</h2>
        <div id="blog-container">
            <!-- "Blogginnlegg" vil bli lagt til her -->
        </div>
    </main>
    <footer>
        <p>&copy; 2024 - #### Portalen</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>
