body {
    font-family: Segoe UI, sans-serif;
    color: #20163f;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-top: 150px; /* Adjust this value based on your header's height */
}

header {
    background-color: #333;
    color: white;
    height:180px;
    width: 100%;
    text-align: left;
    position: fixed;
    top: 0;
    z-index: 1000;
}

img{
width: 250px;
}

img{
max-width: 50%;
max-height: 50%
}

nav.sidebar {
    background-color: #0036b1;
    color: white;
    width: 200px;
    position: fixed;
    top: 180px; /* Just below the header */
    bottom: 0;
    overflow: auto;
}

nav.sidebar ul {
    list-style: none;
    padding: 0;
}

nav.sidebar ul li {
    margin: 1rem 0;
}

nav.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

nav.sidebar ul li a:hover {
    background-color: #c94444;
}

nav.sidebar ul li a i {
    margin-right: 20px; /* Adjust the spacing as needed */
}

main {
    margin-left: 200px; /* Same width as the sidebar */
    padding: 2rem;
    padding-top: 80px; /* Space for the fixed header */
}

footer {
    background-color: #003cc5;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.box {
  font-family: Segoe UI, sans-serif;
  text-align:center;
  position: relative; /* or absolute */
  display: grid;
  width: 700px;
  grid-template-columns: 160px 160px 160px 160px;
  grid-template-rows: 120px 160px;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0px; 
  margin-left:200px;
  z-index: 5;
}

.box div {
    background: linear-gradient(135deg, #ff7e5f, #c91f1f); /* Gradient color */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
    transition: background 0.3s ease; /* Smooth transition */
}

.box div:hover {
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* New gradient color on hover */
}

.body-text {
    position: relative; /* or absolute, depending on your layout */
    z-index: 10;
}

.blog-post {
    background-color: #fff;
    border: 2px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px;
}

.blog-post h3 {
    margin-top: 0;
}

.post-date {
    color: #888;
    font-size: 0.9rem;
}

.post-content {
    margin-top: 1rem;
}


